* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}
.App {
  width: 100%;
  height: 100vh;
  background-color: hsl(216, 12%, 8%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardBody {
  background-color: hsl(213, 19%, 18%);
  width: 410px;
  height: 410px;
  border-radius: 30px;
  padding: 30px;
}
.staroParent {
  width: 100%;
  position: relative;
}
.staro {
  width: 45px;
  padding: 13px;
  border-radius: 50%;
  background-color: #384453;
}
.cardTexts h3 {
  color: hsl(0, 0%, 100%);
  font-size: 25px;
  font-weight: 600;
  font-family: sans-serif;
  padding-top: 25px;
}
.cardTexts p {
  font-size: 15px;
  color: #969fad;
  line-height: 1.4;
  padding-top: 10px;
}
.buttonParent {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}
.buttonParent button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #384453;
  color: #969fad;
  border: none;
  cursor: pointer;
}
.buttonParent button:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 97%, 53%);
}
.submitParent button {
  width: 100%;
  margin-top: 30px;
  text-align: center;
  padding: 16px;
  border-radius: 25px;
  border: none;
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
  letter-spacing: 4px;
  font-weight: 600;
  cursor: pointer;
}
.submitParent button:hover {
  color: hsl(25, 97%, 53%);
  background-color: hsl(0, 0%, 100%);
}

/*--- thanksCard---*/

.cardBody1 {
  background-color: hsl(213, 19%, 18%);
  width: 390px;
  height: 400px;
  border-radius: 30px;
  padding: 30px;
}
.thanksParent {
  width: 100%;
  position: relative;
  text-align: center;
}
.thankYou {
  width: 50%;
  margin-top: 20px;
}
.selectedNumber {
  width: 100%;
  margin-top: 30px;
  text-align: center;
  color: hsl(25, 97%, 53%);
}
.selectedNumber span {
  background-color: #384453;
  padding: 3px 25px 5px 25px;
  border-radius: 20px;
}
.thanksText {
  width: 100%;
  text-align: center;
  font-family: sans-serif;
  line-height: 23px;
  padding-top: 30px;
}
.thanksText h3 {
  font-size: 25px;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
}
.thanksText p {
  padding-top: 20px;
  font-size: 15px;
  color: #969fad;
}
